<main
  class="flex flex-col items-center justify-center p-6 bg-gradient-to-r from-purple-400 to-blue-400 flex-grow min-h-screen"
>
  <div class="w-full max-w-2xl bg-white rounded-lg shadow-md">
    <div class="p-6">
      <h2 class="text-2xl font-semibold text-black">
        {{ employee.firstName }} {{ employee.lastName }}
      </h2>
      <p class="text-sm text-black">
        {{ employee.group }} - {{ employee.status }}
      </p>
      <div class="flex items-center mt-4 text-black">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="24"
          height="24"
          viewBox="0 0 24 24"
          fill="none"
          stroke="currentColor"
          stroke-width="2"
          stroke-linecap="round"
          stroke-linejoin="round"
          class="h-5 w-5"
        >
          <rect width="20" height="16" x="2" y="4" rx="2"></rect>
          <path d="m22 7-8.97 5.7a1.94 1.94 0 0 1-2.06 0L2 7"></path>
        </svg>
        <p class="px-2 text-sm">{{ employee.email }}</p>
      </div>
      <app-employee-data-text
        [detailLabel]="'Username'"
        [detailInfo]="employee.username"
        [detailType]="'text'"
      />
      <app-employee-data-text
        [detailLabel]="'Birthdate'"
        [detailInfo]="employee.birthDate"
        [detailType]="'date'"
      />
      <app-employee-data-text
        [detailLabel]="'Salary'"
        [detailInfo]="employee.basicSalary"
        [detailType]="'currency'"
      />
      <app-employee-data-text
        [detailLabel]="'Description'"
        [detailInfo]="employee.description"
        [detailType]="'date'"
      />
      <app-button-main
        (click)="handleBack()"
        [btnText]="'OK'"
        [btnType]="'main'"
      ></app-button-main>
    </div>
  </div>
</main>
