<main
  class="flex flex-col items-center justify-center p-6 bg-gradient-to-r from-purple-400 to-blue-400 flex-grow min-h-screen"
>
  <div class="w-full max-w-2xl bg-white rounded-lg shadow-md">
    <form class="p-6" [formGroup]="employeeForm" (submit)="handleSubmit()">
      <div class="space-y-4">
        <app-input-main
          [parentForm]="employeeForm"
          [controlName]="'username'"
          [labelText]="'Username'"
          [inputType]="'text'"
        />
        <div class="flex">
          <div class="w-full mr-1">
            <app-input-main
              [parentForm]="employeeForm"
              [controlName]="'firstName'"
              [labelText]="'First Name'"
              [inputType]="'text'"
            />
          </div>
          <div class="w-full ml-1">
            <app-input-main
              [parentForm]="employeeForm"
              [controlName]="'lastName'"
              [labelText]="'Last Name'"
              [inputType]="'text'"
            />
          </div>
        </div>
        <app-input-main
          [parentForm]="employeeForm"
          [controlName]="'email'"
          [labelText]="'E-mail'"
          [inputType]="'email'"
        />
        <div class="space-y-2">
          <label
            class="text-sm font-medium leading-none peer-disabled:cursor-not-allowed peer-disabled:opacity-70"
            for="department"
          >
            Birthdate
          </label>
          <input
            formControlName="birthDate"
            type="date"
            [max]="maxDate"
            class="flex h-10 w-full rounded-md border border-input bg-background px-3 py-2 text-sm ring-offset-background file:border-0 file:bg-transparent file:text-sm file:font-medium placeholder:text-muted-foreground focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-ring focus-visible:ring-offset-2 disabled:cursor-not-allowed disabled:opacity-50"
            required=""
          />
        </div>
        <app-input-main
          [parentForm]="employeeForm"
          [controlName]="'basicSalary'"
          [labelText]="'Basic Salary'"
          [inputType]="'number'"
        />
        <div class="flex">
          <div class="w-full">
            <label
              class="text-sm font-medium leading-none peer-disabled:cursor-not-allowed peer-disabled:opacity-70"
              for="name"
            >
              Status
            </label>
            <select
              formControlName="status"
              class="w-full flex h-10 rounded-md border border-input bg-background px-3 py-2 text-sm file:border-0 file:bg-transparent file:text-sm file:font-medium placeholder:text-muted-foreground focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-ring focus-visible:ring-offset-2 disabled:cursor-not-allowed disabled:opacity-50"
              required=""
            >
              <option value="" disabled selected>Select an option</option>
              <option value="Permanent">Permanent</option>
              <option value="Contract">Contract</option>
              <option value="Outsource">Outsource</option>
            </select>
          </div>
          <div class="ml-4 w-full">
            <label
              class="text-sm font-medium leading-none peer-disabled:cursor-not-allowed peer-disabled:opacity-70"
              for="name"
            >
              Group
            </label>
            <select
              formControlName="group"
              class="w-full flex h-10 rounded-md border border-input bg-background px-3 py-2 text-sm file:border-0 file:bg-transparent file:text-sm file:font-medium placeholder:text-muted-foreground focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-ring focus-visible:ring-offset-2 disabled:cursor-not-allowed disabled:opacity-50"
              required=""
            >
              <option value="" disabled selected>Select an option</option>
              <option value="Business">Business</option>
              <option value="Human Resource">Human Resource</option>
              <option value="Information Technology">
                Information Technology
              </option>
              <option value="Operations">Operations</option>
              <option value="Sales">Sales</option>
              <option value="Security">Security</option>
              <option value="Legal">Legal</option>
              <option value="Risk">Risk</option>
              <option value="Finance">Finance</option>
              <option value="Support">Support</option>
            </select>
          </div>
        </div>
        <app-input-main
          [parentForm]="employeeForm"
          [controlName]="'description'"
          [labelText]="'Description'"
          [inputType]="'date'"
        />
      </div>
      <div class="flex">
        <button
          type="submit"
          class="w-full h-full mx-1 rounded-md text-sm font-medium px-4 py-2 my-3 bg-black text-white flex items-center justify-center transition duration-300 ease-in-out hover:bg-blue-400"
        >
          Save
        </button>
        <button
          (click)="handleBack()"
          class="w-full h-full mx-1 rounded-md text-sm font-medium px-4 py-2 my-3 bg-black text-white flex items-center justify-center transition duration-300 ease-in-out hover:bg-red-400"
        >
          Cancel
        </button>
      </div>
    </form>
  </div>
  <div
    class="h-screen w-full fixed left-0 top-0 flex justify-center items-center bg-black bg-opacity-50"
    *ngIf="isModalVisible"
  >
    <div class="bg-white rounded shadow-lg w-1/3">
      <div class="px-4 py2">
        <h3 class="">{{ modalMsg.title }}</h3>
        <div class="p-3">
          {{ modalMsg.message }}
        </div>
        <div class="flex justify-end items-center w-100 p-3">
          <button
            (click)="toggleModalOff()"
            class="rounded-md text-sm font-medium px-4 py-2 bg-black text-white items-center justify-center transition duration-300 ease-in-out hover:bg-blue-400"
          >
            OK
          </button>
        </div>
      </div>
    </div>
  </div>
</main>
