<main
  class="flex flex-col items-center justify-center p-6 bg-gradient-to-r from-purple-400 to-blue-400 flex-grow min-h-screen"
>
  <div
    class="bg-white p-8 shadow-md overflow-x-auto min-h-screen sm:max-w-full md:w-2/5 lg:w-2/5 xl:w-3/6 rounded-lg"
  >
    <form class="p-6" [formGroup]="employeeForm">
      <div class="space-y-4">
        <app-input-main
          [parentForm]="employeeForm"
          [controlName]="'username'"
          [labelText]="'Username'"
          [inputType]="'text'"
        />
        <div class="flex">
          <div class="w-full mr-1">
            <app-input-main
              [parentForm]="employeeForm"
              [controlName]="'firstName'"
              [labelText]="'First Name'"
              [inputType]="'text'"
            />
          </div>
          <div class="w-full ml-1">
            <app-input-main
              [parentForm]="employeeForm"
              [controlName]="'lastName'"
              [labelText]="'Last Name'"
              [inputType]="'text'"
            />
          </div>
        </div>
        <app-input-main
          [parentForm]="employeeForm"
          [controlName]="'email'"
          [labelText]="'E-mail'"
          [inputType]="'email'"
        />
        <div class="space-y-2">
          <label
            class="text-sm font-medium leading-none peer-disabled:cursor-not-allowed peer-disabled:opacity-70"
            for="department"
          >
            Birthdate
          </label>
          <input
            formControlName="birthDate"
            type="date"
            [max]="maxDate"
            class="flex h-10 w-full rounded-md border border-input bg-background px-3 py-2 text-sm ring-offset-background file:border-0 file:bg-transparent file:text-sm file:font-medium placeholder:text-muted-foreground focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-ring focus-visible:ring-offset-2 disabled:cursor-not-allowed disabled:opacity-50"
            required=""
          />
        </div>
        <app-input-main
          [parentForm]="employeeForm"
          [controlName]="'basicSalary'"
          [labelText]="'Basic Salary'"
          [inputType]="'number'"
        />
        <div class="flex">
          <div class="w-full">
            <label
              class="text-sm font-medium leading-none peer-disabled:cursor-not-allowed peer-disabled:opacity-70"
              for="name"
            >
              Status
            </label>
            <select
              formControlName="status"
              class="w-full flex h-10 rounded-md border border-input bg-background px-3 py-2 text-sm file:border-0 file:bg-transparent file:text-sm file:font-medium placeholder:text-muted-foreground focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-ring focus-visible:ring-offset-2 disabled:cursor-not-allowed disabled:opacity-50"
              required=""
            >
              <option value="" disabled selected>Select an option</option>
              @for (status of statuses; let index = $index; track index){
              <option value="{{ status }}">{{ status }}</option>
              }
            </select>
          </div>
          <div class="ml-4 w-full">
            <label
              class="text-sm font-medium leading-none peer-disabled:cursor-not-allowed peer-disabled:opacity-70"
              for="name"
            >
              Group
            </label>
            <select
              formControlName="group"
              class="w-full flex h-10 rounded-md border border-input bg-background px-3 py-2 text-sm file:border-0 file:bg-transparent file:text-sm file:font-medium placeholder:text-muted-foreground focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-ring focus-visible:ring-offset-2 disabled:cursor-not-allowed disabled:opacity-50"
              required=""
            >
              <option value="" disabled selected>Select an option</option>
              @for (group of groups; let index = $index; track index){
              <option value="{{ group }}">{{ group }}</option>
              }
            </select>
          </div>
        </div>
        <app-input-main
          [parentForm]="employeeForm"
          [controlName]="'description'"
          [labelText]="'Description'"
          [inputType]="'date'"
        />
      </div>
      <div>
        <app-button-main
          (click)="handleSubmit()"
          [btnText]="'Save'"
          [btnType]="'main'"
        ></app-button-main>
        <app-button-main
          (click)="handleBack()"
          [btnText]="'Cancel'"
          [btnType]="'main-red'"
        ></app-button-main>
      </div>
    </form>
  </div>
  <app-alert
    [modalContent]="modalContent"
    [modalVisibility]="isModalVisible"
    (buttonEvent)="toggleModalOff()"
  ></app-alert>
</main>
