<main>
  <div
    class="min-h-screen flex items-center justify-center bg-gradient-to-r from-purple-400 to-blue-400"
  >
    <div class="w-full max-w-md p-8 space-y-4 bg-white rounded shadow-md">
      <h2 class="text-2xl font-bold text-center">Log in to your account</h2>
      <form [formGroup]="loginForm" class="space-y-4">
        <div class="space-y-2">
          <label
            class="text-sm font-medium leading-none peer-disabled:cursor-not-allowed peer-disabled:opacity-70"
            for="username"
          >
            Username
          </label>
          <input
            formControlName="username"
            class="flex h-10 w-full rounded-md border border-input bg-background px-3 py-2 text-sm file:border-0 file:bg-transparent file:text-sm file:font-medium placeholder:text-muted-foreground focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-ring disabled:cursor-not-allowed disabled:opacity-50"
            id="username"
            placeholder="Enter username here"
            required=""
            type="text"
          />
        </div>
        <div class="space-y-2">
          <label
            class="text-sm font-medium leading-none peer-disabled:cursor-not-allowed peer-disabled:opacity-70"
            for="password"
          >
            Password
          </label>
          <input
            formControlName="password"
            class="flex h-10 w-full rounded-md border border-input bg-background px-3 py-2 text-sm file:border-0 file:bg-transparent file:text-sm file:font-medium placeholder:text-muted-foreground focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-ring focus-visible:ring-offset-2 disabled:cursor-not-allowed disabled:opacity-50"
            id="password"
            placeholder="Enter password here"
            required=""
            type="password"
          />
        </div>
        <app-button-main
          (click)="handleLogin()"
          [btnText]="'Log In'"
          [btnType]="'main'"
        ></app-button-main>
      </form>
      <div class="flex justify-between text-sm">
        <a
          class="underline text-black hover:text-blue-400 hover:cursor-pointer"
          (click)="handleForgot()"
        >
          Forgot password?
        </a>
      </div>
    </div>
  </div>
  <app-alert
    [modalContent]="modalContent"
    [modalVisibility]="isModalVisible"
    (buttonEvent)="toggleModalOff()"
  ></app-alert>
</main>
